@import './reset.scss';
@import './util.scss';
@import './icon/iconfont.css';
@import './vux.scss';
@import 'nprogress/nprogress.css';
@import 'animation.scss';

.history-mark{
	margin: 10px 10px;
	padding: 5px 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #f2f3f7;
	font-size: 14px;
	color: #c08f8f;
	border-radius: 5px;
}

.back-to-top{
	position: fixed;
	bottom: 30px;
	right: 15px;
	padding: 8px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	.top-icon{
		font-size: 28px;
		color:#b4077d;
	}
}

.bg-gray{
	height: 100%;
	background-color: #e7e7e7;
}

.header-right{
	font-size: 16px;
	color: #333 !important;
}